
%table.table.table-striped

  %thead
    %tr
      %th Product
      %th Number
      %th
      %th Total
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    = render(cart.line_items)

    %tr.total_line
      %td.total_text{:colspan => "3"} Total:
      %td.total_cell= number_to_currency(cart.total_price)


= link_to t('.back', :default => t("helpers.links.back")), store_path, :class => 'btn btn-default'
= button_to 'Empty cart', cart, method: :delete, data: {confirm: 'Are you sure?'} , :class => 'btn btn-danger'

