= form_for @cart, html: { class: "form form-horizontal cart" } do |f|
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), carts_path, :class => 'btn btn-default'
