// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
  min-height: 220px;
}

img {
  width: 200px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: absolute;
}

h3 {
  margin-bottom: 2px;
}

p, div.price_line {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  align: bottom;
}

.details {
  margin-left: 220px;
}

.price {

  color: #666;
  font-weight: bold;
  font-size: 150%;
  margin-right: 3em;
}
